doctype
html(lang="ja" prefix="og: http://ogp.me/ns#")
  head
    link(rel="stylesheet" href="/main.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include ./include/_opengraph
    include ./include/_script
  body
    include ./include/_schemaorg
    include ./include/_header
    != yield
    include ./include/_footer