section(class="hero is-success is-medium")
    div(class="hero-body")
        div(class="container")
            h1(class="title") アクセス
div.container
    div(class="tile is-ancestor")
        div(class="tile is-12")
            div.tile
                div(class="tile is-parent is-vertical")
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-car")
                            p(class="is-size-3-mobile") 車
                            p(class="is-size-4-mobile has-text-weight-light") 
                div(class="tile is-parent is-vertical")
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-train")
                            p(class="is-size-3-mobile") 電車
                            p(class="is-size-4-mobile has-text-weight-light") 
                div(class="tile is-parent is-vertical")
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-bus")
                            p(class="is-size-3-mobile") バス
                            p(class="is-size-4-mobile has-text-weight-light") 