section(class="hero is-success is-medium")
    div(class="hero-body")
        div(class="container")
            h1(class="title") 第22回工華祭
            h2(class="subtitle") Re:Make ～平成を越えて～

div(class="has-text-left is-size-2-mobile countdown")
    p 工華祭まで
    p あと n 日

div.container
    div(class="tile is-ancestor")
        div(class="tile is-8")
            div.tile
                div(class="tile is-parent is-vertical")
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-file-signature")
                            p(class="is-size-3-mobile") 名称
                            p(class="is-size-4-mobile has-text-weight-light") 第22回工華祭

                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="far fa-3x fa-clock")
                            p(class="is-size-3-mobile") 日時
                            p(class="is-size-4-mobile has-text-weight-light") 2019/11/02(土)~2019/11/03(日) 両日 09:00~18:00
                div(class="tile is-parent is-vertical")
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-chalkboard")
                            p(class="is-size-3-mobile") テーマ
                            p(class="is-size-4-mobile has-text-weight-light") "Re:make ~平成を越えて~"
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-map-marker-alt")
                            p(class="is-size-3-mobile") 場所
                            p(class="is-size-4-mobile has-text-weight-light")  
                                a(href="./access") 群馬工業専門学校
                    article(class="title is-child notification is-light has-text-success has-text-centered")
                        div.content
                            p
                                i(class="fas fa-3x fa-user")
                            p(class="is-size-3-mobile") 主催
                            p(class="is-size-4-mobile has-text-weight-light") 第22回工華祭実行委員会