header
  nav(class="navbar" role="navigation" aria-label="main navigation" id="navbar")
    div(class="navbar-brand")
      a(class="navbar-item" href="https://kokasai.com/22nd/") 第22回 工華祭
      a(role="button" class="navbar-burger burger" v-on:click="showNavbar" v-bind:class="{ 'is-active': navbarIsActive }" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    div(class="navbar-menu" v-bind:class="{ 'is-active': navbarIsActive }")
      div(class="navbar-start")
        a(class="navbar-item" href="./index") トップ
        a(class="navbar-item" href="./access") アクセス
          i(class="fas fa-bus")
        div(class="navbar-item has-dropdown is-hoverable")
          a(class="navbar-link") イベント
          div(class="navbar-dropdown")
            a(class="navbar-item") ステージ
            a(class="navbar-item") クラス・部活
        a(class="navbar-item") 
      div(class="navbar-end")
        a(class="navbar-item" href="https://twitter.com/kokasai_GNCT")
          i(class="fab fa-2x fa-twitter")