meta(property="og:title" content="第22回 群馬高専 工華祭")
meta(property="og:type" content="website")
meta(property="og:url" content="https://www.kokasai.com/22nd/")
meta(property="og:description" content="2019/11/02~2019/11/03に開催する群馬高専の文化祭、工華祭のWebサイト")
meta(property="og:email" content="kokasai.gnct@gmail.com")
meta(property="og:site_name" content="")
meta(property="og:locale" content="ja_JP")
include _twitter-card