div#schema.
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@graph": [
            {
                "@id": "https://kokasai.com/#organization",
                "@type": "Organization",
                "name": "群馬工業高等専門学校 工華祭実行委員会",
                "url": [
                    "https://kokasai.com/",
                    "https://twitter.com/kokasai_GNCT"
                ]
            },
            {
                "@id": "https://kokasai.com/#website",
                "@type": "WebSite",
                "url": "https://kokasai.com/",
                "name": "群馬高専 工華祭実行委員会 ホームページ",
                "keywords": "群馬高専,群馬工業高等専門学校,National Institute of Technology Gunma College,NITGC,文化祭,工華祭,kokasai",
                "isPartOf": {
                    "@id": "https://kokasai.com/#website"
                },
                "publisher": {
                    "@id": "https://kokasai.com/#organization"
                },
                "sameAs": "https://twitter.com/kokasai_GNCT"
            },
            {
                "@id": "https://kokasai.com/22nd/#webpage",
                "@type": "WebPage",
                "url": "https://kokasai.com/22nd/",
                "name": "第22回 群馬高専工華祭 ホームページ",
                "inLanguage": "ja"
                "keywords": "群馬高専,群馬工業高等専門学校,National Institute of Technology Gunma College,NITGC,文化祭,工華祭 2019,第22回 工華祭,kokasai",
                "publisher": {
                    "@id": "https://kokasai.com/#organization"
                },
                "copyrightHolder": {
                    "@id": "https://kokasai.com/#organization"
                },
                "copyrightYear": 2019,
                "publication": {
                    "@id": "https://kokasai.com/22nd/#event"
                }
            },
            {
                "@id": "https://kokasai.com/22nd/#event",
                "@type": "PublicationEvent",
                "name": "第22回 群馬高専工華祭",
                "isAccessibleForFree": true,
                "inLanguage": "ja",
                "location": {
                    "@type": "PostalAddress",
                    "addressCountry": "JP",
                    "addressRegion": "Gunma Prefecture"
                },
                "organizer": {
                    "@id": "https://kokasai.com/#organization"
                },
                "startDate": [
                    "2019-11-02T09:00:00Z+09:00",
                    "2019-11-03T09:00:00Z+09:00"
                ],
                "endDate": [
                    "2019-11-03T18:00:00Z+09:00",
                    "2019-11-02T18:00:00Z+09:00"
                ]
            }
        ]
    }
    </script>