meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@kokasai_GNCT")
meta(name="twitter:url" content="")
meta(name="twitter:title" content="| 22nd 群馬高専 工華祭")
meta(name="twitter:description" content="")
meta(name="twitter:image" content="")